[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
autopep8 = "*"
coverage = "*"
sphinx = "*"
recommonmark = "*"
sphinxcontrib-napoleon = "*"
black = "*"
pytest-xdist = "*"

[packages]
pre-commit = "*"
requests = "*"
fake-headers = "*"
datetime = "*"
click = "*"
setuptools = "*"
python-dotenv = "*"
colorama = "*"
psycopg2-binary = "*"
pytest = "*"
requests-futures = "*"
beautifulsoup4 = "*"
pytest-cov = "*"
fake-useragent = "*"
elasticsearch = "*"
bs4 = "*"
beautifultable = "*"
"pdfminer.six" = "*"
pytest-rerunfailures = "*"
europarl = {editable = true, path = "."}
sphinx-autobuild = "*"

[scripts]
test = "python -m pytest ."
docs_html = "make -C ./docs html"
docs_pdf = "make -C ./docs latexpdf"
env_up = "docker-compose up -d"
env_down = "docker-compose down"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
