[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
autopep8 = "*"
coverage = "*"
sphinx = "*"
recommonmark = "*"
sphinxcontrib-napoleon = "*"
black = "*"

[packages]
pre-commit = "*"
requests = "*"
fake-headers = "*"
datetime = "*"
click = "*"
setuptools = "*"
python-dotenv = "*"
colorama = "*"
psycopg2-binary = "*"
pytest = "*"
requests-futures = "*"
beautifulsoup4 = "*"
pytest-cov = "*"
fake-useragent = "*"
elasticsearch = "*"

[scripts]
test = "python -m pytest ."
report = "coverage html"
main = "python ./src/main.py"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
